

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  background-color: #FAF0E4;
  color: #4B2E23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #FAF0E4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #8c6a5b, #a6785b);
  padding: 0 20px;
  border-bottom: 3px solid #ddb7a0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .logo {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #fff5f0;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links img {
  width: 22px;
}

/* HERO */
.body1 {
  position: relative;
  height: 400px;
  background: url("/photos/body1.jpg") center/cover no-repeat;
 }